.navbar1{
    color: #ff4c68;
}
.logo{
    width: 100px;
    
}
h4{
    color: #ff4c68;
    padding-right: 1rem;
    text-align: center;
}
.navbar-toggler{
    background-color: #ff4c68;
    text-align: center;
}
h4:hover,
h4:active{
    color: black;
}
.carousel-control-prev{
    color: #ff4c68;
}
.icon1{
    width: 350px;
    padding-left: 5rem;
}
h3,h1,h5{
    text-align: center;
}
h1{
    padding: 7% 0 7%;
    color: #ff4c68;
    font-weight: bolder;
}
h3{
    padding-top: 7%;
    color: #ff4c68;
    font-weight: bolder;
}
#socialsites{
    text-align: center;
}
h2{
    color: #ff4c68;
}

